<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC04FB1xWvuPT0xI7GwqZh7eudE90Evwa0</string>
	<key>GCM_SENDER_ID</key>
	<string>642468608078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zenflow.app</string>
	<key>PROJECT_ID</key>
	<string>zenflow-ceca4</string>
	<key>STORAGE_BUCKET</key>
	<string>zenflow-ceca4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642468608078:ios:42d3f30b7a07c360b46b1f</string>
	<key>DATABASE_URL</key>
	<string>https://zenflow-ceca4-default-rtdb.firebaseio.com</string>
</dict>
</plist>
